
form{
    width: 350px;
    margin: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.25);
    
}

form input{
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
}

form button{
    padding: 10px;
    margin-top: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover{
    background-color: darkorange;
}

