.books{
    display: inline-block;
    width: 300px;
    height: 450px;
    margin: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    text-align: center;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: subboxes infinite 1.5s alternate;
}
@keyframes subboxes {
    from {
        background-color: rgba(0,0,0, 0.1);
    }
    to {
        background-color: rgba(0,0,0, 0.3);
    }
}



.books:hover{
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 18px 45px rgba(0,0,0,0.7);
}

.books img{
    width: 140px; 
    height: 170px; 
    border-radius: 10px;
}
.books h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    padding-left: 1px;
}
#booktitle{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10px;   
}
.title{
    font-size: 18px; 
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 5px;   
}



.price{
    font-size: 16px;
    margin-top: 5px;
}

.books button{
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #ff9800, #ff5722);
    color: white;
    font-size: 14px;
    transition: all 0.3s ease;
    padding: 10px;
}

.books button:hover{
    transform: scale(1.05);
    background: linear-gradient(135deg, #ff5722, #e64a19);
}
#bookid{
    margin-top: 0px;
    padding: 20px;
}

body{
    background-image: url("https://images.unsplash.com/photo-1605647601778-865aeff15565?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGJvb2t8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bookst{
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 3px 5px black;
    margin-bottom: 20px;
}
.books-container{
    display: flex;
    flex-wrap: wrap;              /* allows next row */
    justify-content: center;      /* center alignment */
    gap: 25px;                    /* space between cards */
}


