.m{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.b1{
    padding: 15px 25px;
    background-color: rgba(0,0,0, 0.3);
    color: white;
    font-size: 25px;            /* FIX: single font-size */
    border-radius: 10px;

    animation: fadeIn 1.5s ease;
}

.head{
    font-size: 50px;
    color: rgb(241, 242, 242);
    margin-bottom: 20px;   /* ⬅ brings form closer */
    animation: glow 1s ease-in-out infinite alternate;
}



@keyframes glow {
    0% {
        text-shadow: 
            2px 2px 4px #000000,
            0 0 10px white
    }
    100% {
        text-shadow: 
            4px 4px 8px #000000,
            0 0 25px white
            0 0 40px white
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (max-width: 600px) {
    .head {
        font-size: 35px; 
    }
    .b1 {
        font-size: 20px;
        padding: 10px 20px; 
    }
    .m{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin-top: 80px;
}
.head{
    font-size: 25px;
    color: rgb(241, 242, 242);
    margin-bottom: 20px;   /* ⬅ brings form closer */
    animation: glow 1s ease-in-out infinite alternate;
}
    
}

