
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #f0f0f0;
    box-shadow: 10px 6px 4px rgba(0,0,0,0.5);
    z-index: 1000;
}

.li{
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 2px grey;
    cursor: pointer;
}

.li:hover{
    color: #ffb300;
    transform: scale(1.05);
    transition: 0.3s ease;
}


.home,
#all{
    margin-top: 100px;
}

.addbookt{
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 3px 5px black;
    margin-bottom: 20px;
}

.content{
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 15px;
}

.content h3{
    color: white;
    text-align: center;
    line-height: 1.6;
}
.t{
    text-align: centerc;
}
sup{
    background-color: red;
    color: white;
    padding: 2px;
    border-radius: 30px;
}