
.i{
    padding: 15px;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    font-size: 25px;
    width: auto;
    height: auto;
}
.i:hover{
    background-color: rgba(0,0,0, 0.9);
    cursor: pointer;
}
.b2{
    width: 100px;
    padding: 15px;
    background-color: rgba(0,0,0, 0.3);
    border-radius: 15px;
    color: white;
    font-size:20px;
}
.b2:hover{
    background-color: rgba(0,0,0, 0.5);
    cursor: pointer;
}

.sub{
    background-color: rgba(0,0,0, 0.1);
    color: white;
    border-radius: 10px;
    font-size: 25px;
    animation: subGlow 1.2s infinite alternate;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sub1{
    background-color: rgba(0,0,0, 0.1);
    color: white;
    border-radius: 10px;
    font-size: 25px;
    animation: subGlow 1.2s infinite alternate;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: auto;
    height: auto;
}


@keyframes subGlow {
    from {
        background-color: rgba(0,0,0, 0.1);
    }
    to {
        background-color: rgba(0,0,0, 0.3);
    }
}


